button {
  background-color: #245ca6; /* Binahki blue */
  border: none;
  color: white;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 35px
}

th {
  text-align: center;
  color: #575757;
}

td {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #245ca6;
}

.row {
  margin-top: 98px;
}

.container {
  max-width: 1400px;
}

#user-input1 {
  width: 300px;
  display: initial;
}

#user-input2 {
  width: 300px;
  display: initial;
}

#form {
  margin: 20px 0 20px 0px;
}

#input_labels1 {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  display: inherit;

}

#input_labels2 {
  margin-top: 10px;
  margin-bottom: 0px;
  float: left;
  margin-right: 10px;
}

#val_labels {

}

#button-sec {
  margin: -2px 0 0px;
  height: 38px;

}

#data {
  width: 180px;
}

#div_scrowll_input {
  overflow-y:auto;
  height: 500px;
  margin: 10px 0px 0px 0px;
  border: 2px solid #a8a8a8;
}

#div_scrowll_validation {
  overflow-y:auto;
  height: 500px;
  margin: 10px 0px 100px 0px;
  border: 2px solid #a8a8a8;
}

#name {
  text-align: center;
  margin: -60px;
  color: #21252969;
  font-style: oblique;
}
